<div >
    <!-- <form>
    <mat-form-field>
        <mat-label>
          
        </mat-label>
        <input class="input"type="text" matInput  [formControl]="control" [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let localidad of filLocalidades | async" [value]="localidad">
                {{localidad}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form> -->

  <form>
    <mat-form-field>
       
        <input class="input"type="text" matInput  [formControl]="myControl" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let Sucursal of filteredOptions | async" [value]="Sucursal.Id">
                {{Sucursal.Nombre}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form> 
</div>
